<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnighTeam"
        tools:targetApi="31">
        <activity
            android:name=".ui.PantallaCuestionario"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaCuestionarioResultados"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaDerrota"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaVictoria"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ResultadosDruida"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ResultadosCurandero"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ResultadosMaestroCuadras"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ResultadosHerrero"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ResultadosCaballero"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaGestorRolesActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaEsperaLoginActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Tutorial4"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Tutorial3"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Tutorial2"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Tutorial1"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Tutorial"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaUnirsePartida"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaSplashInicioActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaInicioActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaPlantillasActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaCaballeroActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaMaestroCuadrasActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaCuranderoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaDruidaActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaCreacionPartidaActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PantallaHerreroActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.KnighTeam.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>